<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Salesforce Test Suite">
    <test verbose="2" preserve-order="true" name="C:/SeleniumProject/Salesforce">
        <classes>
            <!--
            <class name="org.example.App"></class>
			<class name="org.example.SampleService"></class>
			<class name="org.example.TestNG_TestClass2"></class>-->
            <!-- run test.java.cucumberOptions package TestNGRunner class -->
            <class name="cucumberOptions.TestNGRunner"/>
        </classes>
    </test>
</suite>